<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Federal Student Loans: A Decade in Review</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.4/chroma.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Bungee+Shade|Work+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="top-nav-bar">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='css/cat-eye-glasses.svg') }}"
                    width="30" height="30" class="d-inline-block align-top" alt=""> <b>Federal Student Loans: The Decade
                    in Review</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/about">About Me<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/credits">Credits</a>
                    <a class="nav-item nav-link active"
                        href="https://www.github.com/tyellaineho/FederalStudentLoanAnalysis">GitHub</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="body-background">
        <div class="container">
            <div class="row">
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="headline-header-number">
                        About Me
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <br><br>
            </div>
            <div class="row">
                <div class="col-lg-12 col-mg-12 col-sm-12">
                    <div class="about-me-shape">
                        <div class=""></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="{{ url_for('static', filename='css/profile.png') }}" class="webimage my-auto"
                                    alt="profile"></p>
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <div class="about-me-title">
                                    <h1><strong>Hello! I'm Ellaine.</strong></h1>
                                    <h3><strong>Thank you for browsing my project site!</strong></h3>
                                </div>
                                <div class="about-me-text">
                                    <br>
                                    <h5>Who am I?</h5>
                                    <p>My name is Ellaine Ho and I am a graduate student and working professional based
                                        out of NYC. By obtaining my Data Analytics Certification from Columbia
                                        University's School of Engineering, I hope to leverage my growing data analysis
                                        and visualization skills to help create insight-driven solutions in driving
                                        organizational and business performance.</p>
                                    <h5>Why am I interested in student loans?</h5>
                                    <p>As a financial aid professional, I've had some experience interacting with
                                        student financial aid, whether it be scholarships, loans, or other
                                        grants/fellowships programs. My unique background and knowledge in graduate
                                        level financial aid also piqued my interest in exploring student loan data,
                                        which is something that is more commonly discussed in the graduate landscape.
                                        With this project, I hope to uncover some insights as to how the student loan
                                        landscape has evolved over the past decade and to better inform you about the
                                        present state of federal student loans.</p>
                                    <h5>Connect with me:</h5>
                                    <a href="https://www.linkedin.com/in/ellainetszyingho/"><img
                                            src="{{ url_for('static', filename='css/linkedin-brands.svg') }}"
                                            class="webicon" alt="linkedin"></a>
                                    <a href="https://github.com/tyellaineho"><img
                                            src="{{ url_for('static', filename='css/github-brands.svg') }}"
                                            class="webicon" alt="linkedin"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="other-centered-text">
                        <p>Please do not duplicate content on this personal webpage.</p>
                    </div>
                    <div class="other-centered-text">
                        <a href="/"><button type="button" class="btn btn-info btn-block">Return to Homepage</button></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
            </div>
            <div class="row">
                <br><br><br>
            </div>
        </div>
    </div>
</body>

</html>